In [3]:
# Reverse a string

strr = 'shivam'

print(strr[::-1])

mavihs

In [6]:
# Count how many times a character appears in a string

strr = 'shivamm'
print(strr.count('a'))
print(strr.count('m'))

1
2

In [8]:
# Convert a string to uppercase
print(strr.upper())

SHIVAMM

In [13]:
strr = "shivaM"
if strr == strr[::-1]:
    print('The string is Palindrome')
else:
    print('the strr is not palindrome')

the strr is not palindrome

In [14]:
strr = 'this notebook is just for the practice'

print(strr.replace(" ", "_"))

this_notebook_is_just_for_the_practice

In [15]:
lstt = ['shivam','shahi','kumar']

lstt.append('rohan')

print(lstt)

['shivam', 'shahi', 'kumar', 'rohan']

In [17]:
# Remove an item from a list

lstt.remove('kumar')
print(lstt)

['shivam', 'shahi', 'rohan']

In [20]:
numm = [312,43,5,566,78,65,44,33]
numm.sort()
print(numm)

[5, 33, 43, 44, 65, 78, 312, 566]

In [21]:
numm[-1]

566

In [24]:
total = 0
for i in numm:
    total += i
print(total)

1146

In [25]:
# Print numbers from 1 to 10 using a loop
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Check if a number is even or odd
for i in range(1,11):
    if i % 2 == 0:
        print(i,"= Even")
    else:
        print(i, "= Odd")

1 = Odd
2 = Even
3 = Odd
4 = Even
5 = Odd
6 = Even
7 = Odd
8 = Even
9 = Odd
10 = Even

In [ ]:
# Print all even numbers from a list
for i in range(1,11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [ ]:
# Count how many items are in a list using a loop
listt = ['shivam','kumar','shahi','rohan','ajay']
total = 0
for i in listt:
    total += 1
print(total)

5

In [34]:
# Print multiplication table of any number
num = 2
for i in range(1,11):
    print(num ,"X",i, "=", num*i)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [36]:
# Write a function to add two numbers

def adding(num1,num2):
    total = num1+num2
    print("The total of your given numbers is ",total)

adding(2343,42342)

The total of your given numbers is  44685

In [46]:
# Write a function to find factorial

fact = 5 
total = 1
for i in range(1,fact+1):
    
    total *= i
print(total)

120

In [49]:
# Write a function that takes a list and returns only even numbers

listt = [1,2,3,4,5,6,7,8,9,10]

def even_only(list):
    for i in list:
        if i %2 == 0:
            print(i)

even_only(listt)

2
4
6
8
10

In [64]:
# Write a function to check prime number
def Prime_time(num):
    if num <=1:
        print("Number is not prime")
        return

    for i in range(2,num):
        if num % i ==0:
            print("Number is not prime")
            return
    print('Prime')

Prime_time(7)

Prime

In [65]:
# Write a function to return the square of all numbers in a list

def square(list):
    lstt = []
    for i in list:
        lstt.append(i*i)
    print(lstt)

lstt = [2,3,4,5,6,7,8]
square(lstt)

[4, 9, 16, 25, 36, 49, 64]

In [67]:
# Convert two lists into a dictionary

name = ['shivam','rohan','sohan','mohan']
post = ['data science','finance','operation','sde']

employees = dict(zip(name,post))
print(employees)

{'shivam': 'data science', 'rohan': 'finance', 'sohan': 'operation', 'mohan': 'sde'}

In [74]:
listtt = [1,2,2,3,4,5,5,6,6,4,4,98,98]

listtt = set(listtt)
listtt = list(listtt)

print(listtt)

[1, 2, 3, 4, 5, 6, 98]

In [84]:
# Find common elements in two lists

list_1 = [1,2,3,4,5]
list_2 = [4,5,6,7,8]

# convert to set
set_1 = set(list_1)
set_2 = set(list_2)

# common elements
common_elements = set_1 & set_2

print('List 1 :',list_1)
print('List_2 :',list_2)

print('Common elements :',common_elements)

List 1 : [1, 2, 3, 4, 5]
List_2 : [4, 5, 6, 7, 8]
Common elements : {4, 5}

In [82]:
print(common_elements)

{4, 5}

In [88]:
# Count frequency of each element in a list

def Frequency_count(input_list):
    frequency = {}
    for i in input_list:
        if i in frequency:
            frequency[i] += 1
        else:
            frequency[i] = 1
    return frequency

listt = [1,1,1,2,3,3,3,4,5,5,5,6,7,7,7,10]

print(Frequency_count(listt))

{1: 3, 2: 1, 3: 3, 4: 1, 5: 3, 6: 1, 7: 3, 10: 1}