In [63]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [64]:
df = pd.read_csv('eye_cancer_patients.csv')

In [65]:
df.head()

,Patient_ID,Age,Gender,Cancer_Type,Laterality,Date_of_Diagnosis,Stage_at_Diagnosis,Treatment_Type,Surgery_Status,Radiation_Therapy,Chemotherapy,Outcome_Status,Survival_Time_Months,Genetic_Markers,Family_History,Country
0,PID00001,58,F,Retinoblastoma,Left,2019-01-25,Stage IV,Radiation,False,15,3,Deceased,85,NaN,True,UK
1,PID00002,15,Other,Retinoblastoma,Right,2021-10-21,Stage III,Chemotherapy,True,69,6,In Remission,10,NaN,True,Japan
2,PID00003,64,M,Retinoblastoma,Bilateral,2021-03-12,Stage IV,Surgery,False,47,6,In Remission,3,BRAF Mutation,False,UK
3,PID00004,33,M,Melanoma,Right,2021-05-10,Stage II,Radiation,True,36,6,Active,40,NaN,False,Canada
4,PID00005,8,Other,Lymphoma,Left,2019-11-24,Stage I,Chemotherapy,False,14,14,In Remission,26,BRAF Mutation,True,USA

In [66]:
df.isnull().sum()

Patient_ID                 0
Age                        0
Gender                     0
Cancer_Type                0
Laterality                 0
Date_of_Diagnosis          0
Stage_at_Diagnosis         0
Treatment_Type             0
Surgery_Status             0
Radiation_Therapy          0
Chemotherapy               0
Outcome_Status             0
Survival_Time_Months       0
Genetic_Markers         2497
Family_History             0
Country                    0
dtype: int64

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Patient_ID            5000 non-null   object
 1   Age                   5000 non-null   int64
 2   Gender                5000 non-null   object
 3   Cancer_Type           5000 non-null   object
 4   Laterality            5000 non-null   object
 5   Date_of_Diagnosis     5000 non-null   object
 6   Stage_at_Diagnosis    5000 non-null   object
 7   Treatment_Type        5000 non-null   object
 8   Surgery_Status        5000 non-null   bool
 9   Radiation_Therapy     5000 non-null   int64
 10  Chemotherapy          5000 non-null   int64
 11  Outcome_Status        5000 non-null   object
 12  Survival_Time_Months  5000 non-null   int64
 13  Genetic_Markers       2503 non-null   object
 14  Family_History        5000 non-null   bool
 15  Country               5000 non-null   object
dtypes: bool(2), int64(4), object(10)
memory usage: 556.8+ KB

In [68]:
df['Cancer_Type'].value_counts()

Cancer_Type
Melanoma          1691
Retinoblastoma    1672
Lymphoma          1637
Name: count, dtype: int64

In [69]:
df['Stage_at_Diagnosis'].value_counts()

Stage_at_Diagnosis
Stage II     1287
Stage III    1281
Stage IV     1242
Stage I      1190
Name: count, dtype: int64

In [70]:
df['Treatment_Type'].value_counts()

Treatment_Type
Surgery         1679
Chemotherapy    1665
Radiation       1656
Name: count, dtype: int64

In [71]:
df['Outcome_Status'].value_counts()

Outcome_Status
Deceased        1710
In Remission    1675
Active          1615
Name: count, dtype: int64

In [72]:
df1 = df.copy()

In [73]:
df1

,Patient_ID,Age,Gender,Cancer_Type,Laterality,Date_of_Diagnosis,Stage_at_Diagnosis,Treatment_Type,Surgery_Status,Radiation_Therapy,Chemotherapy,Outcome_Status,Survival_Time_Months,Genetic_Markers,Family_History,Country
0,PID00001,58,F,Retinoblastoma,Left,2019-01-25,Stage IV,Radiation,False,15,3,Deceased,85,NaN,True,UK
1,PID00002,15,Other,Retinoblastoma,Right,2021-10-21,Stage III,Chemotherapy,True,69,6,In Remission,10,NaN,True,Japan
2,PID00003,64,M,Retinoblastoma,Bilateral,2021-03-12,Stage IV,Surgery,False,47,6,In Remission,3,BRAF Mutation,False,UK
3,PID00004,33,M,Melanoma,Right,2021-05-10,Stage II,Radiation,True,36,6,Active,40,NaN,False,Canada
4,PID00005,8,Other,Lymphoma,Left,2019-11-24,Stage I,Chemotherapy,False,14,14,In Remission,26,BRAF Mutation,True,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,PID04996,63,M,Retinoblastoma,Left,2022-09-18,Stage III,Surgery,False,38,13,Active,34,BRAF Mutation,False,USA
4996,PID04997,43,M,Lymphoma,Right,2022-03-02,Stage I,Chemotherapy,False,70,9,Active,27,NaN,False,Australia
4997,PID04998,88,Other,Lymphoma,Left,2024-04-09,Stage I,Radiation,False,48,20,Active,71,NaN,True,USA
4998,PID04999,34,Other,Melanoma,Bilateral,2021-01-15,Stage III,Surgery,False,61,1,In Remission,30,BRAF Mutation,False,South Africa
4999,PID05000,43,M,Retinoblastoma,Bilateral,2024-08-02,Stage II,Chemotherapy,True,22,7,Active,109,NaN,False,Germany

In [74]:
df1 = df1.drop(['Patient_ID','Genetic_Markers','Country'], axis=1)

In [75]:
df1

,Age,Gender,Cancer_Type,Laterality,Date_of_Diagnosis,Stage_at_Diagnosis,Treatment_Type,Surgery_Status,Radiation_Therapy,Chemotherapy,Outcome_Status,Survival_Time_Months,Family_History
0,58,F,Retinoblastoma,Left,2019-01-25,Stage IV,Radiation,False,15,3,Deceased,85,True
1,15,Other,Retinoblastoma,Right,2021-10-21,Stage III,Chemotherapy,True,69,6,In Remission,10,True
2,64,M,Retinoblastoma,Bilateral,2021-03-12,Stage IV,Surgery,False,47,6,In Remission,3,False
3,33,M,Melanoma,Right,2021-05-10,Stage II,Radiation,True,36,6,Active,40,False
4,8,Other,Lymphoma,Left,2019-11-24,Stage I,Chemotherapy,False,14,14,In Remission,26,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,63,M,Retinoblastoma,Left,2022-09-18,Stage III,Surgery,False,38,13,Active,34,False
4996,43,M,Lymphoma,Right,2022-03-02,Stage I,Chemotherapy,False,70,9,Active,27,False
4997,88,Other,Lymphoma,Left,2024-04-09,Stage I,Radiation,False,48,20,Active,71,True
4998,34,Other,Melanoma,Bilateral,2021-01-15,Stage III,Surgery,False,61,1,In Remission,30,False
4999,43,M,Retinoblastoma,Bilateral,2024-08-02,Stage II,Chemotherapy,True,22,7,Active,109,False

In [76]:
df1['Gender']= df1['Gender'].map({'F':1,"M":2,"Other":3})

In [77]:
df1.head()

,Age,Gender,Cancer_Type,Laterality,Date_of_Diagnosis,Stage_at_Diagnosis,Treatment_Type,Surgery_Status,Radiation_Therapy,Chemotherapy,Outcome_Status,Survival_Time_Months,Family_History
0,58,1,Retinoblastoma,Left,2019-01-25,Stage IV,Radiation,False,15,3,Deceased,85,True
1,15,3,Retinoblastoma,Right,2021-10-21,Stage III,Chemotherapy,True,69,6,In Remission,10,True
2,64,2,Retinoblastoma,Bilateral,2021-03-12,Stage IV,Surgery,False,47,6,In Remission,3,False
3,33,2,Melanoma,Right,2021-05-10,Stage II,Radiation,True,36,6,Active,40,False
4,8,3,Lymphoma,Left,2019-11-24,Stage I,Chemotherapy,False,14,14,In Remission,26,True

In [78]:
df1['Cancer_Type'].value_counts()

Cancer_Type
Melanoma          1691
Retinoblastoma    1672
Lymphoma          1637
Name: count, dtype: int64

In [79]:
df1['Cancer_Type'] =df1['Cancer_Type'].map({'Melanoma':1,"Retinoblastoma":2,"Lymphoma":3})

In [80]:
df1.head()

,Age,Gender,Cancer_Type,Laterality,Date_of_Diagnosis,Stage_at_Diagnosis,Treatment_Type,Surgery_Status,Radiation_Therapy,Chemotherapy,Outcome_Status,Survival_Time_Months,Family_History
0,58,1,2,Left,2019-01-25,Stage IV,Radiation,False,15,3,Deceased,85,True
1,15,3,2,Right,2021-10-21,Stage III,Chemotherapy,True,69,6,In Remission,10,True
2,64,2,2,Bilateral,2021-03-12,Stage IV,Surgery,False,47,6,In Remission,3,False
3,33,2,1,Right,2021-05-10,Stage II,Radiation,True,36,6,Active,40,False
4,8,3,3,Left,2019-11-24,Stage I,Chemotherapy,False,14,14,In Remission,26,True

In [81]:
df1['Stage_at_Diagnosis'].head()

0     Stage IV
1    Stage III
2     Stage IV
3     Stage II
4      Stage I
Name: Stage_at_Diagnosis, dtype: object

In [82]:
df1['Stage_at_Diagnosis'] =df1['Stage_at_Diagnosis'].map({'Stage I':1,'Stage II':2,'Stage III':3,'Stage IV':4})

In [83]:
df1.head()

,Age,Gender,Cancer_Type,Laterality,Date_of_Diagnosis,Stage_at_Diagnosis,Treatment_Type,Surgery_Status,Radiation_Therapy,Chemotherapy,Outcome_Status,Survival_Time_Months,Family_History
0,58,1,2,Left,2019-01-25,4,Radiation,False,15,3,Deceased,85,True
1,15,3,2,Right,2021-10-21,3,Chemotherapy,True,69,6,In Remission,10,True
2,64,2,2,Bilateral,2021-03-12,4,Surgery,False,47,6,In Remission,3,False
3,33,2,1,Right,2021-05-10,2,Radiation,True,36,6,Active,40,False
4,8,3,3,Left,2019-11-24,1,Chemotherapy,False,14,14,In Remission,26,True

In [84]:
df1['Laterality'].value_counts()

Laterality
Bilateral    1695
Left         1686
Right        1619
Name: count, dtype: int64

In [85]:
df1['Laterality'] =df1['Laterality'].map({'Bilateral':1,'Left':2,'Right':3})

In [86]:
df1.head()

,Age,Gender,Cancer_Type,Laterality,Date_of_Diagnosis,Stage_at_Diagnosis,Treatment_Type,Surgery_Status,Radiation_Therapy,Chemotherapy,Outcome_Status,Survival_Time_Months,Family_History
0,58,1,2,2,2019-01-25,4,Radiation,False,15,3,Deceased,85,True
1,15,3,2,3,2021-10-21,3,Chemotherapy,True,69,6,In Remission,10,True
2,64,2,2,1,2021-03-12,4,Surgery,False,47,6,In Remission,3,False
3,33,2,1,3,2021-05-10,2,Radiation,True,36,6,Active,40,False
4,8,3,3,2,2019-11-24,1,Chemotherapy,False,14,14,In Remission,26,True

In [89]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   5000 non-null   int64
 1   Gender                5000 non-null   int64
 2   Cancer_Type           5000 non-null   int64
 3   Laterality            5000 non-null   int64
 4   Date_of_Diagnosis     5000 non-null   object
 5   Stage_at_Diagnosis    5000 non-null   int64
 6   Treatment_Type        5000 non-null   object
 7   Surgery_Status        5000 non-null   bool
 8   Radiation_Therapy     5000 non-null   int64
 9   Chemotherapy          5000 non-null   int64
 10  Outcome_Status        5000 non-null   object
 11  Survival_Time_Months  5000 non-null   int64
 12  Family_History        5000 non-null   bool
dtypes: bool(2), int64(8), object(3)
memory usage: 439.6+ KB

In [90]:
df1['Family_History'] = df1['Family_History'].map({True:1,False:0})

In [91]:
df1.head()

,Age,Gender,Cancer_Type,Laterality,Date_of_Diagnosis,Stage_at_Diagnosis,Treatment_Type,Surgery_Status,Radiation_Therapy,Chemotherapy,Outcome_Status,Survival_Time_Months,Family_History
0,58,1,2,2,2019-01-25,4,Radiation,False,15,3,Deceased,85,1
1,15,3,2,3,2021-10-21,3,Chemotherapy,True,69,6,In Remission,10,1
2,64,2,2,1,2021-03-12,4,Surgery,False,47,6,In Remission,3,0
3,33,2,1,3,2021-05-10,2,Radiation,True,36,6,Active,40,0
4,8,3,3,2,2019-11-24,1,Chemotherapy,False,14,14,In Remission,26,1

In [105]:
df1['Treatment_Type'].value_counts().index.tolist()

['Surgery', 'Chemotherapy', 'Radiation']

In [94]:
from sklearn.preprocessing import LabelEncoder

In [106]:
label = df1['Treatment_Type'].value_counts().index.tolist()

In [107]:
label

['Surgery', 'Chemotherapy', 'Radiation']

In [114]:
le = LabelEncoder()
df1['Treatment_Type'] = le.fit_transform(df1['Treatment_Type'])
df1['Surgery_Status'] = le.fit_transform(df1['Surgery_Status'])

In [115]:
df1.head()

,Age,Gender,Cancer_Type,Laterality,Date_of_Diagnosis,Stage_at_Diagnosis,Treatment_Type,Surgery_Status,Radiation_Therapy,Chemotherapy,Outcome_Status,Survival_Time_Months,Family_History
0,58,1,2,2,2019-01-25,4,1,0,15,3,Deceased,85,1
1,15,3,2,3,2021-10-21,3,0,1,69,6,In Remission,10,1
2,64,2,2,1,2021-03-12,4,2,0,47,6,In Remission,3,0
3,33,2,1,3,2021-05-10,2,1,1,36,6,Active,40,0
4,8,3,3,2,2019-11-24,1,0,0,14,14,In Remission,26,1

In [117]:
df1 = df1.drop('Date_of_Diagnosis', axis = 1)

In [118]:
df1

,Age,Gender,Cancer_Type,Laterality,Stage_at_Diagnosis,Treatment_Type,Surgery_Status,Radiation_Therapy,Chemotherapy,Outcome_Status,Survival_Time_Months,Family_History
0,58,1,2,2,4,1,0,15,3,Deceased,85,1
1,15,3,2,3,3,0,1,69,6,In Remission,10,1
2,64,2,2,1,4,2,0,47,6,In Remission,3,0
3,33,2,1,3,2,1,1,36,6,Active,40,0
4,8,3,3,2,1,0,0,14,14,In Remission,26,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,63,2,2,2,3,2,0,38,13,Active,34,0
4996,43,2,3,3,1,0,0,70,9,Active,27,0
4997,88,3,3,2,1,1,0,48,20,Active,71,1
4998,34,3,1,1,3,2,0,61,1,In Remission,30,0
4999,43,2,2,1,2,0,1,22,7,Active,109,0