In [2]:
import pandas as pd 
import numpy as np

In [3]:
# Creating a simple dataframe

df = pd.DataFrame({
    'color' : ["red", "blue","green","green","red","blue"]
})

In [4]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
label = LabelEncoder()

In [8]:
labelled = label.fit_transform(df[["color"]])

C:\Users\Shiva\AppData\Roaming\Python\Python312\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [41]:
label.transform([['green']])

C:\Users\Shiva\AppData\Roaming\Python\Python312\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([1])

In [57]:
df_lablled = pd.DataFrame(labelled, columns= df.columns)

In [59]:
df__final = pd.concat([df,df_lablled], axis=1)

In [60]:
df__final

     size  size
0   small     2
1  medium     0
2   large     1
3   small     1
4  medium     2
5   large     0

#  Ordinal Encoding

it is used to encode categorical data that have an order or ranking.
in this technique each category is asssinged a numberical value based on its position in the order. 
eg. if we have categorical variable 'educaiton level' with four possible values (high school,college,graduate,'post graduate) we can represent it using ordinal encoding as follow:

1. High School : 1
2. College : 2
3. Graduate : 3
4. Post - Graduate : 4

In [42]:
from sklearn.preprocessing import OrdinalEncoder

In [52]:
size = pd.DataFrame({

    'size':["small","medium","large","small","medium","large"]
})

In [53]:
size

     size
0   small
1  medium
2   large
3   small
4  medium
5   large

In [45]:
# create an instance of ordinal encoder and then fit_tranform

In [46]:
encoder = OrdinalEncoder(categories=[['small','medium','large']])

In [54]:
size_encoded = encoder.fit_transform(size[['size']])

In [48]:
encoder.transform([['large']])

C:\Users\Shiva\AppData\Roaming\Python\Python312\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[2.]])

In [55]:
df1= pd.DataFrame(size_encoded, columns= size.columns)

In [56]:
df1

   size
0   0.0
1   1.0
2   2.0
3   0.0
4   1.0
5   2.0

In [61]:
final = pd.concat([df1,size],axis=1)

In [62]:
final

  size    size
0  0.0   small
1  1.0  medium
2  2.0   large
3  0.0   small
4  1.0  medium
5  2.0   large