Support Vector Regression Implementation
with tips dataset

In [2]:
import seaborn as sns
df = sns.load_dataset('tips')

In [4]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [16]:
for i in df.columns:
    if df[i].dtype.name == "category":
        print(df[i].value_counts())

sex
Male      157
Female     87
Name: count, dtype: int64
smoker
No     151
Yes     93
Name: count, dtype: int64
day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64
time
Dinner    176
Lunch      68
Name: count, dtype: int64

In [18]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [21]:
x = df[['tip', 'sex', 'smoker', 'day', 'time', 'size']]
y= df['total_bill']

In [22]:
# train test split

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=10)

In [24]:
x_train.head()

      tip   sex smoker  day    time  size
58   1.76  Male    Yes  Sat  Dinner     2
1    1.66  Male     No  Sun  Dinner     3
2    3.50  Male     No  Sun  Dinner     3
68   2.01  Male     No  Sat  Dinner     2
184  3.00  Male    Yes  Sun  Dinner     2

In [25]:
# Feature encoding (label and one hot encoding)

label coding

In [26]:
from sklearn.preprocessing import LabelEncoder

le1 = LabelEncoder()
le2 = LabelEncoder()
le3 = LabelEncoder()

In [27]:
x_train['sex'] = le1.fit_transform(x_train['sex'])
x_train['smoker']= le2.fit_transform(x_train['smoker'])
x_train['time']= le3.fit_transform(x_train['time'])

In [28]:
x_train.head()

      tip  sex  smoker  day  time  size
58   1.76    1       1  Sat     0     2
1    1.66    1       0  Sun     0     3
2    3.50    1       0  Sun     0     3
68   2.01    1       0  Sat     0     2
184  3.00    1       1  Sun     0     2

In [29]:
x_test['sex'] = le1.transform(x_test['sex'])
x_test['smoker']= le2.transform(x_test['smoker'])
x_test['time']= le3.transform(x_test['time'])

In [30]:
x_test

      tip  sex  smoker   day  time  size
162  2.00    0       0   Sun     0     3
60   3.21    1       1   Sat     0     2
61   2.00    1       1   Sat     0     2
63   3.76    1       1   Sat     0     4
69   2.09    1       1   Sat     0     2
..    ...  ...     ...   ...   ...   ...
201  2.01    0       1  Thur     1     2
149  2.00    1       0  Thur     1     2
175  3.11    1       1   Sun     0     2
226  2.00    0       1   Fri     1     2
49   3.00    1       0   Sun     0     2

[61 rows x 6 columns]

In [31]:
df['day'].value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [32]:
# one hot encoding - columnTransformer 
# on the day column

In [33]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder